RewriteEngine On
RewriteRule ^home/?$ 		index.php

RewriteRule ^login/?$		index.php?com=user&task=login
RewriteRule ^dashboard/?$ 	index.php?com=user&task=dashboard

RewriteRule ^logout/?$ 	 	index.php?com=user&task=logout
RewriteRule ^profile/?$ 	index.php?com=user&task=profile
RewriteRule ^forgotpass/?$  index.php?com=user&task=forgot
RewriteRule ^changepass/?$  index.php?com=user&task=changepass
RewriteRule ^changetpass/?$  index.php?com=user&task=changetpass

# Giáo viên
RewriteRule ^user/?$ 	index.php?com=user

# Học viên bằng lái
RewriteRule ^member_course/?$ 	index.php?com=member_course
RewriteRule ^member_course/profile/([0-9]+)?$ 	index.php?com=member_course&task=add&id=$1 [QSA]
RewriteRule ^member_course/fee/([0-9]+)?$ 	index.php?com=member_course&task=add1&id=$1 [QSA]
RewriteRule ^member_course/id/([0-9]+)?$ 	index.php?com=member_course&task=view&id=$1 [QSA]

# Loại bằng lái
RewriteRule ^course/?$ 	index.php?com=course


# Học viên
RewriteRule ^members/?$ 	index.php?com=members
RewriteRule ^members/id/([0-9]+)?$ 	index.php?com=members&task=view&id=$1 [QSA]

# Thống kê
RewriteRule ^report/?$ 	index.php?com=report


RewriteRule ^schedule/?$ 	index.php?com=schedule



<Ifmodule mod_php5.c>
	php_flag display_errors  on
</Ifmodule>

php_value memory_limit 300M
php_value post_max_size 1000M
php_value upload_max_filesize 300M

php_value max_input_time 3000
php_value max_execution_time 3000 